.ad-example {
  background-color: $dark-smoky-white;
}

.ad-example__main-title {
  @include zeroing();
}

.ad-example__lead {
  @include zeroing();
  color: $gray-brown;
  font-family: $font-additional;
}

.ad-example__result {
  @include zeroing();
  margin-top: 25px;
  margin-bottom: 26px;
}

.ad-example__figures {
  @include zeroing();
  font-family: $font-main;
  text-transform: uppercase;
}

.ad-example__description {
  @include zeroing();
  font-family: $font-additional;
  color: $gray-brown;
}

.ad-example__cost {
  text-transform: uppercase;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .ad-example {
    background-color: $dark-smoky-white;

    @include paddings(27px, 25px, 21px, 20px);
  }

  .ad-example__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ad-example__main-title {
    margin-bottom: 33px;
  }

  .ad-example__lead {
    @include font-sizes();
    font-family: $font-additional;
  }

  .ad-example__result {
    @include zeroing();
    margin-top: 25px;
    margin-bottom: 26px;
  }

  .ad-example__figures {
    @include font-sizes(24px, 24px);
  }

  .ad-example__description {
    @include font-sizes(12px, 12px);
  }

  .ad-example__cost {
    @include font-sizes(14px, 20px);
    margin-bottom: 42px;
  }
}
