.ad-program {
  display: grid;
}


// Мобильная версия
@media (max-width: $mobile-width-only) {
  .ad-program {
    grid-template-rows: 480px 266px 266px;
    grid-template-columns: 1fr;
    row-gap: 21px;
  }



  .ad-program__preview {
    &:first-of-type {
      margin-top: 1px;
    }
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .ad-program {
    @include zeroing();
    margin-top: 54px;
    grid-template-columns: 1fr;
    grid-template-rows: 810px auto;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .ad-program {
    @include paddings(0, 0, 110px, 110px);
    width: 1220px;
    margin: 0 auto;
    grid-template-columns: 570px 570px;
    grid-template-rows: auto;
    column-gap: 80px;
  }

  .ad-program__preview {
    @include zeroing();
  }
}
