.additional-products__additional-title {
  @include zeroing();
  position: relative;
}

.additional-products__list {
  @include zeroing();
  list-style: none;
  display: grid;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .additional-products {
    @include paddings(28px, 35px);
  }

  .additional-products__additional-title {
    padding-left: 19px;
    margin-bottom: 35px;
  }

  .additional-products__list {
    @include paddings(0, 0, 20px, 20px);
    grid-template-columns: 280px;
    grid-template-rows: auto;
  }

  .additional-products__item {
    @include paddings(13px, 18px);
    border-top: 1px solid $light-telegray;

    &:last-child {
      border-bottom: 1px solid $light-telegray;
    }
  }

  .additional-products__offer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 39px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .additional-products {
    margin-top: 68px;
    margin-bottom: 76px;
  }

  .additional-products__additional-title {
    margin-bottom: 80px;
  }

  .additional-products__list {
    grid-template-columns: 708px;
    grid-template-rows: auto;
  }

  .additional-products__item {
    border: 1px solid $light-telegray;

    @include paddings(26px, 28px, 37px, 38px);

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .additional-products__offer {
    margin-top: 69px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .additional-products {
    margin-top: 75px;
    margin-bottom: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .additional-products__additional-title {
    width: 100%;
  }

  .additional-products__list {
    grid-template-columns: 896px;
    grid-template-rows: auto;
  }

  .additional-products__item {
    border: none;
    border-top: 1px solid $light-telegray;
    border-bottom: 1px solid $light-telegray;

    @include paddings(15px, 17px, 0, 0);

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .additional-products__offer {
    margin-top: 0;
  }
}
