.basic-button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $yellow-green;

  &:hover {
    background-color: $herbal;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--more {
    background-color: $basic-gray;
    color: $gray-brown;

    &:hover {
      background-color: $smoky-white;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .basic-button {
    @include paddings(7px, 7px);

    &--accented {
      @include paddings(11px, 11px);
    }
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .basic-button {
    @include paddings(9px, 9px);
    @include font-sizes(16px, 20px);

    &--accented {
      font-size: 20px;
      line-height: 0;

      @include paddings(28px, 27px);
    }
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .basic-button {
    @include paddings(9px, 9px);
    @include font-sizes(16px, 20px);

    &--accented {
      font-size: 20px;
      line-height: 0;

      @include paddings(27px, 27px);
    }
  }
}
