
.best-offer__link {
  display: flex;

  @include font-sizes(16px, 20px);
  font-family: $font-additional;
  color: $white;
}

.best-offer__link span {
  display: inline-block;
  vertical-align: middle;
}

.best-offer__picture {
  fill: $white;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .best-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 289px;
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 280px auto;
    background-color: $yellow-green;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .best-offer {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-size: 280px auto;
    }
  }

  .best-offer__link {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 161px;
    height: 188px;
    margin-top: 28px;
  }

  .best-offer__link span {
    text-align: center;
    margin-bottom: 5px;
  }

  .best-offer__picture {
    width: 58.5px;
    height: 60px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .best-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 708px auto;
    background-color: $yellow-green;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .best-offer {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .best-offer__link {
    @include paddings(4px, 0, 0, 300px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .best-offer__link span {
    width: 161px;
    text-align: left;
  }

  .best-offer__picture {
    width: 58.5px;
    height: 60px;
    position: absolute;
    left: -35px;
    top: -1px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .best-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: $yellow-green;
    background-size: 245px auto;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .best-offer {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .best-offer__link {
    @include zeroing();
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 161px;
    height: 190px;
    margin-top: 30px;
  }

  .best-offer__link span {
    width: auto;
    text-align: center;
    margin-top: 63px;
  }

  .best-offer__picture {
    width: 58.5px;
    height: 60px;
    position: static;
  }
}
