.best-offer {
  // Для мобильных телефонов
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $yellow-green;
}

.best-offer__link {
  display: block;

  @include font-sizes(16px, 20px);
  font-family: $font-additional;
  color: $white;
}

.best-offer_picture {
  fill: $white;
}
