.catalog__main-title {
  @include zeroing();
}

.catalog__list {
  display: grid;
  list-style: none;

  @include zeroing();
}


.catalog__note {
  display: flex;
}

.catalog p {
  font-family: $font-additional;
  color: $gray-brown;
}

.catalog__icon-more {
  display: block;

  @include zeroing();

  background-color: $white;
  border: none;
  outline-color: $light-telegray;
  border-radius: 0;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  color: #111111;
  text-transform: uppercase;

  @include font-sizes();
}

.catalog__promo-text {
  @include zeroing();
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .catalog {
    border-top: 1px solid #d9d9d9;
    padding-top: 26px;
    width: 320px;
    margin: 0 auto;
  }

  .catalog__main-title {
    @include paddings(0, 40px, 0, 20px);
  }

  .catalog__list {
    grid-template-columns: 320px;
    grid-template-rows: auto;
  }

  .catalog__item {
    border-top: 1px solid $smoky-white;
  }

  .catalog__note {
    @include paddings(26px, 24px, 20px, 21px);
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $smoky-white;
  }

  .catalog p {
    @include font-sizes(12px, 16px);
  }

  .catalog__icon-more {
    @include paddings(54px);
    width: 204px;
    height: 23px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-size: 30px;

    @include font-sizes(16px, 20px);
  }

  .catalog__promo-text {
    margin-bottom: 21px;
    margin-top: 4px;
  }

  .catalog__show-all {
    @include font-sizes(16px, 0);
    @include paddings(20px, 20px);
    width: 279px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .catalog {
    @include paddings(0, 0, 30px, 30px);
    width: 708px;
    margin: 0 auto;
  }

  .catalog__main-title {
    margin-top: 55px;
    margin-bottom: 84px;
  }

  .catalog__list {
    grid-template-columns: 324px 324px;
    grid-template-rows: auto;
    column-gap: 60px;
    row-gap: 60px;
  }

  .catalog__item {
    height: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include font-sizes(16px, 16px);
  }

  .catalog__note {
    width: 322px;
    height: 431px;
    margin-top: 78px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid $basic-gray;
  }

  .catalog__icon-more {
    @include font-sizes(20px, 22px);
    @include paddings(108px);
    width: 134px;
    height: 44px;
    background-size: 60px;
    text-align: center;
  }

  .catalog__promo-text {
    @include font-sizes(16px, 19px);
    width: 167px;
    text-align: center;
    margin-bottom: 86px;
    margin-top: 23px;
  }

  .catalog__show-all {
    @include font-sizes(16px, 0);
    @include paddings(20px, 20px);
    width: 249px;
    margin-bottom: 36px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
    margin: 0 auto;
    @include paddings(0, 0, 110px, 110px);
  }

  .catalog__main-title {
    margin-top: 80px;
    margin-bottom: 86px;
  }

  .catalog__list {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: auto;
    column-gap: 80px;
    row-gap: 62px;
  }

  .catalog__item {
    height: 511px;
  }

  .catalog__note {
    width: 243px;
    height: 428px;
    margin-top: 77px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid $basic-gray;
  }

  .catalog__icon-more {
    margin-top: 14px;
  }

  .catalog__promo-text {
    margin-bottom: 85px;
  }

  .catalog__show-all {
    @include font-sizes(16px, 0);
    @include paddings(20px, 20px);
    width: 169px;
    margin-bottom: 0;
  }
}
