.copyright {
  // Для мобильных телефонов
  margin-top: 28px;
}

.copyright__link {
  display: block;
  font-family: $font-additional;
  color: $gray-brown;

  @include font-sizes(16px);
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
