
.food-benefits__main-title {
  @include zeroing();
}

.food-benefits__list {
  list-style: none;
  display: grid;

  @include zeroing();
}

.food-benefits__item {
  font-family: $font-additional;
  color: $gray-brown;
  position: relative;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .food-benefits {
    margin: 0 auto;
    width: 279px;
    @include paddings(0, 42px, 20px, 21px);
  }

  .food-benefits__list {
    margin-top: 40px;
    grid-template-columns: 279px;
    grid-template-rows: 60px 60px 60px 60px;
    row-gap: 20px;
  }

  .food-benefits__item {
    @include paddings(3px, 22px, 0, 80px);

    &--nutritious::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--nutritious::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }

    &--fast::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--fast::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }

    &--profitable::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--profitable::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }

    &--effective::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--effective::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .food-benefits__item {
      &--nutritious {
        &::after {
          background-image: url("../img/advantage-leaf@2x.png");
        }
      }

      &--fast {
        &::after {
          background-image: url("../img/advantage-powder@2x.png");
        }
      }

      &--profitable {
        &::after {
          background-image: url("../img/advantage-dining@2x.png");
        }
      }

      &--effective {
        &::after {
          background-image: url("../img/advantage-clock@2x.png");
        }
      }
    }
  }

  .food-benefits__main-title {
    margin-top: 29px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .food-benefits {
    @include paddings(18px, 47px, 105px, 30px);
    width: 633px;
    margin: 0 auto;
  }

  .food-benefits__list {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 135px;
    row-gap: 37px;
  }

  .food-benefits__item {
    @include zeroing();
    @include paddings(153px);
    @include font-sizes(16px, 24px);

    &::after {
      font-family: $font-main;

      @include font-sizes(280px, 280px);
      color: $basic-gray;
      z-index: -1;
      bottom: -1px;
      right: 0;
    }

    &:first-child::after {
      @include elements(112px, 280px, "1");
    }

    &:nth-child(2)::after {
      @include elements(134px, 280px, "2");
    }

    &:nth-child(3)::after {
      @include elements(134px, 280px, "3");
    }

    &:last-child::after {
      @include elements(136px, 280px, "4");
    }

    &--nutritious {
      width: 230px;

      &::before {
        @include elements(80px, 80px);
        background-color: $yellow-green;
        background-image: url("../img/advantage-leaf@1x.png");
        background-repeat: no-repeat;
        background-size: 49px 49px;
        background-position: 50% 55%;
        left: 0;
        top: 40px;
      }
    }

    &--fast {
      width: 246px;

      &::before {
        @include elements(80px, 80px);
        background-color: $yellow-green;
        background-image: url("../img/advantage-powder@1x.png");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: 50% 50%;
        left: 0;
        top: 40px;
      }
    }

    &--profitable {
      width: 247px;

      &::before {
        @include elements(80px, 80px);
        background-color: $yellow-green;
        background-image: url("../img/advantage-dining@1x.png");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: 50% 50%;
        left: 0;
        top: 40px;
      }
    }

    &--effective {
      width: 249px;

      &::before {
        @include elements(80px, 80px);
        background-color: $yellow-green;
        background-image: url("../img/advantage-clock@1x.png");
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: 50% 50%;
        left: 0;
        top: 40px;
      }
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .food-benefits__item {
      &--nutritious {
        &::before {
          background-image: url("../img/advantage-leaf@2x.png");
          background-size: 50px 50px;
        }
      }

      &--fast {
        &::before {
          background-image: url("../img/advantage-powder@2x.png");
          background-size: 50px 50px;
        }
      }

      &--profitable {
        &::before {
          background-image: url("../img/advantage-dining@2x.png");
          background-size: 50px 50px;
        }
      }

      &--effective {
        &::before {
          background-image: url("../img/advantage-clock@2x.png");
          background-size: 50px 50px;
        }
      }
    }
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .food-benefits {
    @include paddings(71px, 11px, 106px, 110px);
    width: 1224px;
    margin: 0 auto;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 280px;
    column-gap: 55px;
  }

  .food-benefits__list {
    margin-top: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px;
    column-gap: 0;
  }

  .food-benefits__item {
    @include zeroing();
    @include paddings(152px);

    &--nutritious {
      width: 230px;
      margin-right: 95px;
    }

    &--fast {
      width: 246px;
      margin-right: 80px;
    }

    &--profitable {
      width: 247px;
      margin-right: 78px;
    }

    &--effective {
      width: 250px;
    }
  }
}
