
.food-benefits__main-title {
  @include zeroing();
}

.food-benefits__list {
  list-style: none;
  display: grid;

  @include zeroing();
}

.food-benefits__item {
  font-family: $font-additional;
  color: $gray-brown;
  position: relative;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .food-benefits {
    @include paddings(0, 42px, 20px, 21px);
  }

  .food-benefits__list {
    margin-top: 38px;
    grid-template-columns: 279px;
    grid-template-rows: 60px 60px 60px 60px;
    row-gap: 20px;
  }

  .food-benefits__item {
    padding-bottom: 22px;
    padding-left: 80px;

    &--nutritious::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--nutritious::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }

    &--fast::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--fast::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }

    &--profitable::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--profitable::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }

    &--effective::before {
      @include elements(60px, 60px);
      background-color: $yellow-green;
      left: 0;
      top: 0;
    }

    &--effective::after {
      @include elements(50px, 50px);
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      left: 5px;
      top: 5px;
    }
  }

  .food-benefits__main-title {
    margin-top: 27px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .food-benefits {
    @include paddings(15px, 47px);
  }

  .food-benefits__list {
    margin-top: 32px;
    grid-template-columns: 249px 249px;
    grid-template-rows: 280px 280px;
    column-gap: 135px;
    row-gap: 37px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .food-benefits {
    @include paddings(71px, 11px);
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 280px;
    column-gap: 55px;
  }

  .food-benefits__list {
    margin-top: 32px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 280px;
    column-gap: 55px;
  }
}
