.form label {
  display: block;
}

.form__more-details {
  color: $gray-brown;
  text-transform: uppercase;
}

.form__input {
  @include zeroing();
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__input input {
  height: 45px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;

  &:hover {
    border-color: $light-telegray;
  }

  &:focus {
    border: 2px solid $gray-brown;
  }

  &::placeholder {
    text-transform: uppercase;
    color: $gray-brown;
  }
}

.invalid {
  border: 2px solid $deep-pink;
}

.form__filter-radio + label {
  position: relative;
  cursor: pointer;

  &::before {
    @include elements(38px, 38px);
    background-color: $white;
    border: 1px solid $light-telegray;
    border-radius: 50%;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__filter-radio:checked + label::after {
  @include elements(18px, 18px);
  background-color: $yellow-green;
  border-radius: 50%;
  left: 11px;
  top: 11px;
}

.form__filter-checkbox + label {
  position: relative;
  cursor: pointer;

  &::before {
    @include elements(38px, 38px);
    background-color: $white;
    border: 1px solid $light-telegray;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__filter-checkbox:checked + label::after {
  @include elements(18px, 12px);
  border-bottom: 2px solid $yellow-green;
  border-left: 2px solid $yellow-green;
  transform: rotate(-45deg);
  left: 11px;
  top: 10px;
}

.form__list {
  @include zeroing();
  list-style-type: none;
}

.form__additional-title {
  @include zeroing();
  text-transform: none;
}

.form__textarea {
  @include zeroing();
}

.form__textarea textarea {
  @include zeroing();
  text-transform: uppercase;
  color: $gray-brown;
}

.form__button {
  border: 0;
  outline: none;
}

.form__text {
  font-family: $font-additional;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__more-details {
    @include font-sizes(16px, 18px);

    &--about-pet {
      @include paddings(0, 24px, 20px, 19px);
      border-bottom: 1px solid #d9d9d9;
    }

    &--radio-selection {
      @include paddings(25px, 22px, 20px, 19px);
      border-bottom: 1px solid #d9d9d9;
      color: $black-brown;
    }

    &--about-owner {
      @include paddings(30px, 0, 20px, 19px);
    }

    &--comment {
      @include paddings(28px, 0, 20px, 19px);
    }

    &--checkbox-selection {
      @include paddings(28px, 28px, 20px, 19px);
    }
  }

  .form__input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__input input {
    @include paddings(0, 0, 0, 15px);
    flex-grow: 1;
    height: 45px;

    &::placeholder {
      @include font-sizes(16px 18px);
      text-transform: uppercase;
    }
  }

  .form__input--pet-name label {
    margin-right: 14px;
  }

  .form__input--pet-weight label {
    margin-right: 17px;
  }

  .form__input--pet-age label {
    margin-right: 16px;
  }

  .form__list {
    padding-left: 1px;

    &--checkbox-selection {
      height: 157px;
    }
  }

  .form__item {
    @include paddings(0, 19px);

    &:last-child {
      @include paddings(0, 0);
    }
  }

  .form__more-details--radio-selection .form__item {
    &:not(:last-child) {
      @include paddings(0, 25px, 0, 30px);
    }

    &:last-child {
      @include paddings(0, 5px, 0, 30px);
    }
  }

  .form__filter-radio + label {
    &::before {
      width: 28px;
      height: 28px;
      top: -5px;
      left: -46px;
    }
  }

  .form__filter-radio:checked + label::after {
    width: 13.5px;
    height: 13.5px;
    left: -37.5px;
    top: 3.5px;
  }

  .form__item label {
    margin-left: 16px;
  }

  .form__additional-title {
    @include paddings(0, 30px);
  }

  .form__more-details--about-owner .form__additional-title {
    @include paddings(0, 33px);
  }

  .form__more-details--about-owner label {
    margin-right: 11px;
  }

  .form__more-details--comment .form__additional-title {
    @include paddings(0, 34px);
  }

  .form__textarea {
    padding-left: 1px;
  }

  .form__textarea textarea {
    @include paddings(13px, 0, 0, 15px);
    width: 263px;
    height: 135px;
  }

  .form__more-details--checkbox-selection .form__additional-title {
    @include paddings(0, 40px);
  }

  .form__more-details--checkbox-selection .form__item {
    &:not(:last-child) {
      @include paddings(0, 25px, 0, 30px);
    }

    &:last-child {
      @include paddings(0, 0, 0, 30px);
    }
  }

  .form__filter-checkbox + label {
    &::before {
      width: 28px;
      height: 28px;
      left: -46px;
      top: -5px;
    }
  }

  .form__filter-checkbox:checked + label::after {
    left: -40px;
    top: -1px;
  }

  .form__button-wrap {
    @include paddings(0, 0, 20px, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__button {
    @include font-sizes(16px, 16px);
    @include paddings(12px, 12px);
    width: 280px;
  }

  .form__text {
    @include zeroing();
    @include font-sizes(14px, 16px);
    margin-top: 23px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;

    &:not(.main-title):not(.additional-title) {
      @include font-sizes(20px, 30px);
    }
  }

  .form__more-details {
    &--about-pet {
      @include paddings(0, 72px, 67px, 71px);
    }

    &--radio-selection {
      @include paddings(28px, 0, 0, 87px);
      border: 1px solid #e7e7e7;
      width: 541px;
      height: 166px;
      margin-left: 71px;
      margin-right: 67px;
    }

    &--about-owner {
      @include paddings(75px, 0, 65px, 69px);
    }

    &--comment {
      @include paddings(66px, 0, 0, 69px);
    }

    &--checkbox-selection {
      @include paddings(60px, 50px, 0, 70px);
    }
  }

  .form__additional-title {
    margin-bottom: 76px;
  }

  .form__list {
    &--checkbox-selection {
      display: grid;
      grid-template-columns: 221px 221px;
      grid-template-rows: auto;
      height: 112px;
      column-gap: 123px;
    }
  }

  .form__input {
    @include zeroing();
    @include paddings(0, 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__input input {
    @include zeroing();
    @include paddings(0, 0, 0, 21px);
    flex-grow: 1;
    height: 52px;
  }

  .form__input label {
    margin-right: 13px;
  }

  .form__more-details--radio-selection .form__item {
    &:not(:last-child) {
      @include paddings(2px, 22px);
    }
  }

  .form__filter-radio + label {
    &::before {
      top: -5px;
      left: -60px;
    }
  }

  .form__filter-radio:checked + label::after {
    left: -49px;
    top: 6px;
  }

  .form__textarea textarea {
    @include paddings(14px, 0, 0, 19px);
    width: 610px;
    height: 158px;
    border-color: #e7e7e7;
  }

  .form__more-details--checkbox-selection .form__additional-title {
    margin-bottom: 61px;
  }

  .form__more-details--checkbox-selection .form__item {
    &:not(:last-child) {
      @include paddings(0, 43px, 0, 59px);
    }

    &:last-child {
      @include paddings(0, 0, 0, 59px);
    }
  }

  .form__filter-checkbox + label {
    &::before {
      left: -58px;
      top: -5px;
    }
  }

  .form__filter-checkbox:checked + label::after {
    left: -48px;
    top: 4.5px;
  }

  .form__button-wrap {
    @include paddings(0, 0, 0, 71px);
    display: flex;
    flex-direction: row;
    width: 523px;
    justify-content: space-between;
    height: 52px;
  }

  .form__button {
    @include paddings(14px, 14px);
    @include font-sizes(20px);
    width: 282px;
  }

  .form__text {
    @include font-sizes(16px, 16px);
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .form {
    display: grid;
    grid-template-columns: 569px 568px;
    grid-template-rows: auto;
    column-gap: 80px;
  }

  .form__more-details {
    &--about-pet {
      @include zeroing();
      height: 196px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--radio-selection {
      @include zeroing();
      @include paddings(28px, 0, 0, 88px);
      width: 480px;
    }

    &--about-owner {
      @include zeroing();
      @include paddings(69px);
      grid-column-start: 1;
      grid-column-end: -1;
      display: grid;
      grid-template-columns: 569px 572px;
      grid-template-rows: auto;
      column-gap: 78px;
    }

    &--comment {
      @include zeroing();
      @include paddings(68px);
      grid-column-start: 1;
      grid-column-end: -1;
      display: grid;
      grid-template-columns: 1220px;
      grid-template-rows: auto;
    }

    &--checkbox-selection {
      @include zeroing();
      @include paddings(61px);
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  .form__list {
    &--checkbox-selection {
      display: grid;
      grid-template-columns: 221px 221px 221px 221px;
      grid-template-rows: 40px;
      column-gap: 104px;
      height: 50px;
    }
  }

  .form__textarea {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .form__textarea textarea {
    width: 1199px;
    height: 158px;
  }

  .form__additional-title {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .form__input {
    @include zeroing();
  }

  .form__button-wrap {
    @include zeroing();
    width: 829px;
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    margin-bottom: 10px;
  }

  .form__button {
    width: 568px;
  }

  .form__input label {
    margin-right: 16px;
  }

  .form__more-details--about-owner .form__additional-title {
    margin-bottom: 75px;
  }

  .form__more-details--checkbox-selection .form__additional-title {
    margin-bottom: 62px;
  }
}
