.form__more-details {
  color: $gray-brown;
  text-transform: uppercase;

  // Для мобильных телефонов
  @include font-sizes(16px, 18px);

  &--about-pet {
    @include paddings(0, 27px, 20px, 19px);
    border-bottom: 1px solid #d9d9d9;
  }

  &--radio-selection {
    @include paddings(20px, 22px, 20px, 19px);
    border-bottom: 1px solid #d9d9d9;
    color: $black-brown;
  }

  &--about-owner {
    @include paddings(26px, 0, 20px, 19px);
  }

  &--comment {
    @include paddings(27px, 0, 20px, 19px);
  }

  &--checkbox-selection {
    @include paddings(27px, 34px, 20px, 19px);
  }
}

.form__input {
  @include zeroing();
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__input input {
  // Для мобильных телефонов
  @include paddings(12px, 12px);
}

.form__list {
  @include zeroing();
  list-style-type: none;
  padding-left: 1px;
}

.form__item {
  padding-bottom: 19px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__additional-title {
  @include zeroing();
  text-transform: none;
  padding-bottom: 34px;
}

.form__textarea {
  @include zeroing();
  padding-left: 1px;
}

.form__textarea textarea {
  text-transform: uppercase;
}

.form__button-wrap {
  @include paddings(0, 0, 20px, 20px);
}

.form__button {
  @include paddings(12px, 12px);
  border: 0;
  outline: none;
  width: 100%;
}

.form__text {
  font-family: $font-additional;

  @include font-sizes(14px, 16px);
}
