.main-nav__list {
  list-style: none;

  @include zeroing();
}

.main-nav__menu-toggle {
  display: none;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .main-nav__menu-toggle {
    @include zeroing();
    background-color: transparent;
    position: absolute;
    border: none;
    outline: none;
    display: block;
  }

  .main-nav__menu-toggle--closed {
    width: 24px;
    height: 14.5px;
    top: 23px;
    right: 20px;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;

    &::before {
      @include elements(24px);
      border-top: 2px solid $black;
      top: 6px;
      left: 0;
    }
  }

  .main-nav__menu-toggle--closed + .main-nav__wrap {
    display: none;
  }

  .main-nav__menu-toggle--open {
    width: 18px;
    height: 18px;
    top: 22px;
    right: 23px;

    &::before,
    &::after {
      @include elements(25px);
      border-top: 1.5px solid $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
