.main-nav__list {
  list-style: none;

  @include zeroing();
}

.main-nav__menu-toggle {
  display: none;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .main-nav__menu-toggle {
    @include zeroing();
    background-color: transparent;
    position: absolute;
    border: none;
    outline: none;
    display: block;
    width: 30px;
    height: 18px;
    top: 21px;
    right: 17px;
  }

  .main-nav__toggle {
    &--open {
      width: 30px;
      height: 18px;
    }

    &--closed {
      width: 18px;
      height: 18px;
    }
  }
}
