.main-title {
  font-weight: normal;
  color: $black;
}

@media (max-width: $mobile-width-only) {
  .main-title {
    @include font-sizes(36px, 36px);

    &--accented {
      color: $white;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-title {
    @include font-sizes(60px, 60px);
  }
}
