.map__wrap {
  display: flex;
}

.map__subtitle {
  @include zeroing();
  text-transform: uppercase;
  font-weight: normal;
  color: #111111;
}

.map__address {
  font-family: $font-additional;
  color: $gray-brown;
  display: block;

  &--link {
    display: block;
  }
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .map {
    height: 476px;
    position: relative;
  }

  .map__wrap {
    justify-content: space-between;
    background-color: $basic-gray;

    @include paddings(29px, 22px, 19px, 19px);
  }

  .map__subtitle {
    @include font-sizes(16px, 20px);
    width: 140px;
  }

  .map__address {
    @include font-sizes(14px, 20px);
    width: 140px;

    &--link {
      width: 320px;
      height: 362px;
      position: absolute;
      top: 76px;
      z-index: -1;
    }
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 601px;
  }

  .map__wrap {
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
    height: 201px;
    width: 625px;
    background-color: $basic-gray;
  }

  .map__subtitle {
    @include font-sizes(20px, 25px);
    width: 171px;
  }

  .map__address {
    @include font-sizes(16px, 20px);
    width: 159px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    &--link {
      width: 768px;
      height: 400px;
      background-color: $gainsborough;
    }
  }

  .map__address span {
    vertical-align: middle;
    text-align: right;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .map {
    width: 1440px;
    height: 400px;
    position: relative;
  }

  .map__wrap {
    justify-content: space-between;
    align-items: center;
    width: 405px;
    height: 201px;
    position: absolute;
    background-color: $white;
    top: 92px;
    left: 110px;

    @include paddings(0, 0, 89px, 76px);
  }

  .map__subtitle {
    @include font-sizes(20px, 25px);
    width: 163px;
  }

  .map__address {
    @include font-sizes(16px, 20px);
    width: 155px;
    align-items: flex-start;

    &--link {
      width: 1440px;
      height: 400px;
      background-color: $gainsborough;
    }
  }

  .map__address span {
    vertical-align: middle;
    text-align: left;
  }
}
