.page-footer {
  background-color: $basic-gray;
}

.page-footer__wrap {
  display: flex;
}

.page-footer__logo-text {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .page-footer__wrap {
    @include paddings(40px, 0, 20px, 19px);
    margin: 0 auto;
    width: 281px;
    flex-direction: column;
    align-items: center;
  }

  .page-footer__logo-text {
    width: 128px;
    height: 24px;
    margin-bottom: 32px;
    margin-right: 1px;
  }

  .page-footer__copyright {
    @include paddings(0, 32px);
    margin-top: 28px;
  }

  .page-footer__social {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .page-footer__wrap {
    @include paddings(60px, 50px, 30px, 30px);
    width: 708px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .page-footer__social {
    margin-left: 26px;
  }

  .page-footer__copyright {
    margin-top: 1px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .page-footer__wrap {
    @include paddings(63px, 48px, 110px, 110px);
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .page-footer__social {
    @include zeroing();
    margin-left: 29px;
  }

  .page-footer__copyright {
    margin-top: 4px;
  }
}
