.page__body {
  min-width: 300px;
  margin: 0 auto;
  font-family: $font-main;

  @include font-sizes();
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .page__body {
    width: 320px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .page__body {
    width: 1440px;
  }
}
