.preview {
  background-color: $basic-gray;
}

.preview__additional-title {
  @include zeroing();
}

.preview__text {
  @include zeroing();
  font-family: $font-additional;
}

.preview__preview-button {
  display: block;
  color: $black;
  text-transform: uppercase;
  position: relative;

  &::after {
    @include elements(24px, 12px);
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    @include elements(32px, 12px);
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .preview {
    @include paddings(0, 0, 20px, 20px);
    width: 240px;
    height: 266px;
    margin: 0 auto;
  }

  .preview__additional-title {
    margin-left: 72px;
    padding-top: 31px;
  }

  .preview__text {
    color: $gray-brown;
    margin-top: 29px;
    padding-bottom: 23.5px;
    border-bottom: 1.5px solid #d9d9d9;
    line-height: 18px;
  }

  .preview__preview-button {
    padding-top: 18px;
    padding-bottom: 22px;

    @include font-sizes(16px, 16px);

    &::after {
      left: 96px;
      bottom: 23px;
    }
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .preview {
    margin: 0 auto;
    width: 708px;
    height: 372px;
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }

  .preview__additional-title {
    text-transform: uppercase;
    margin-left: 53px;
    margin-top: 78px;
  }

  .preview__text {
    @include font-sizes(16px, 24px);
    margin-left: 52px;
    margin-top: 24px;
    width: 377px;
  }

  .preview:last-child .preview__text {
    width: 340px;
    margin-top: 25px;
  }

  .preview__preview-button {
    margin-left: 52px;
    margin-top: 52px;

    @include font-sizes(20px, 30px);

    &::after {
      bottom: 8px;
      left: 134px;
    }
  }

  .preview:last-child .preview__preview-button {
    margin-top: 51px;

    &::after {
      left: 130px;
    }
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .preview {
    @include zeroing();
    width: 570px;
    height: 374px;
    display: flex;
    flex-direction: column;
    margin-top: 76px;
  }

  .preview__additional-title {
    @include zeroing();
    text-transform: uppercase;
    margin-top: 77px;
    margin-left: 214px;
  }

  .preview__text {
    @include font-sizes(16px, 24px);
    margin-left: 52px;
    margin-top: 73px;
    width: 467px;
  }

  .preview:last-child .preview__text {
    margin-left: 52px;
    margin-top: 73px;
    width: 467px;
  }

  .preview__preview-button {
    margin-left: 52px;
    margin-top: 27px;

    &::after {
      bottom: 8px;
      left: 136px;
    }
  }

  .preview:last-child .preview__preview-button {
    margin-left: 52px;
    margin-top: 27px;

    &::after {
      left: 130px;
    }
  }
}
