.product-may-like__link {
  display: block;
  color: $black-brown;
  text-transform: uppercase;
  // Для мобильных телефонов
}

.product-may-like__title {
  @include zeroing();
  font-weight: normal;
  // Для мобильных телефонов
  @include font-sizes(16px, 16px);
}

.product-may-like__description {
  margin-top: 13px;
  margin-bottom: 15px;
}

.product-may-like__description-table {
  font-family: $font-additional;
  color: $gray-brown;
  // Для мобильных телефонов
  @include font-sizes(14px, 14px);
}

.product-may-like__button {
  @include font-sizes(16px, 0);
  @include paddings(20px, 20px);
}
