.product {
  display: flex;
}

.product__link p {
  @include zeroing();
}

.product__title {
  font-family: $font-main;
  color: $black-brown;
  text-transform: uppercase;

  @include zeroing();
  font-weight: normal;
}

.product__description {
  font-family: $font-additional;
  color: $gray-brown;
}

.product__button {
  @include font-sizes(16px, 0);
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .product {
    flex-wrap: wrap;
    height: 188px;
    justify-content: center;

    @include paddings(19px);
  }

  .product__title {
    @include font-sizes(16px, 20px);
  }

  .product__description {
    @include font-sizes(12px, 16px);
  }

  .product__table {
    width: 142px;
  }

  .product__button {
    @include font-sizes(16px, 0);
    @include paddings(20px, 20px);
    width: 280px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    height: 511px;
    align-items: center;
    justify-content: space-around;
  }

  .product__button {
    @include font-sizes(16px, 0);
    @include paddings(20px, 19px);
    width: 248px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;
    height: 511px;
    align-items: center;
    justify-content: space-around;
  }

  .product__button {
    @include font-sizes(16px, 0);
    @include paddings(20px, 19px);
    width: 168px;
  }
}
