.program-header {
  background-color: $white;
  background-repeat: no-repeat;
  // Для мобильных телефонов
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-position: 0% 80%, 0% 0%;
  color: $white;

  @include paddings (0, 0, 20px, 20px);

  &__main-title {
    // Для мобильных телефонов
    @include zeroing();
    padding-top: 23px;
  }

  &__text {
    // Для мобильных телефонов
    @include zeroing();
    margin-top: 29px;
    text-transform: uppercase;
  }

  &__button {
    // Для мобильных телефонов
    margin-top: 302px;
  }
}
