.program-header {
  background-color: $white;
  background-repeat: no-repeat;
  display: flex;
}

.program-header__main-title {
  @include zeroing();
}

.program-header__text {
  @include zeroing();
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .program-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
    background-position: 50% 79.5%, 0% 0%;
    color: $white;

    @include paddings (0, 0, 20px, 20px);
  }

  .program-header__main-title {
    @include zeroing();
    padding-top: 27px;
  }

  .program-header__text {
    @include zeroing();
    margin-top: 23px;
    text-transform: uppercase;
    margin-right: 2px;
  }

  .program-header__button {
    align-self: stretch;
    margin-top: 301px;

    @include paddings(11px, 11px);
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .program-header {
    flex-direction: column;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 49% 101%;
    margin-bottom: 2px;
  }

  .program-header__main-title {
    margin-left: 88px;
    margin-bottom: 42px;
  }

  .program-header__text {
    margin-left: 89px;

    @include font-sizes(20px, 20px);
    text-transform: uppercase;
  }

  .program-header__button {
    margin-left: 83px;
    margin-top: 48px;
    width: 244px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .program-header {
    @include zeroing();
    width: 920px;
    height: 499px;
    flex-direction: column;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 100% 100%;
    margin-bottom: 82px;
    background-color: transparent;
    position: absolute;
    top: 142px;
    left: 230px;
  }

  .program-header__main-title {
    @include zeroing();
    margin-top: 80px;
    margin-bottom: 41px;
  }

  .program-header__text {
    @include zeroing();
    @include font-sizes(20px, 20px);
    text-transform: uppercase;
  }

  .program-header__button {
    @include zeroing();
    margin-top: 52px;
    width: 244px;
  }
}
