.selection-program {
  margin: 0 auto;
}

.selection-program__main-title {
  @include zeroing();
}

.selection-program__text {
  @include zeroing();
  color: $black;
  text-transform: uppercase;
}

@media (max-width: $mobile-width-only) {
  .selection-program {
    @include paddings(26px, 30px);
    width: 320px;
    border-top: 1px solid #d9d9d9;
  }

  .selection-program__main-title {
    @include paddings(0, 0, 0, 20px);
  }

  .selection-program__text {
    @include font-sizes(14px, 19px);
    @include paddings(0, 0, 74px, 20px);
    margin-top: 36px;
    margin-bottom: 38px;
  }
}

@media (min-width: $tablet-width) {
  .selection-program {
    width: 769px;
  }

  .selection-program__main-title {
    @include zeroing();
    @include paddings(0, 0, 0, 29px);
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .selection-program__text {
    @include font-sizes(20px, 30px);
    @include paddings(0, 0, 0, 70px);
    width: 323px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    @include paddings(0, 0, 110px, 110px);
    width: 1220px;
  }

  .selection-program__main-title {
    @include zeroing();
    margin-top: 80px;
    margin-bottom: 56px;
  }

  .selection-program__text {
    @include zeroing();
    margin-bottom: 66px;
  }
}
