.site-list {
  display: flex;
}

.site-list__link {
  display: block;
  color: $black;
}

.site-list__item:not(.site-list__item--current) .site-list__link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list {
    flex-direction: column;
  }

  .site-list__item {
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
  }

  .site-list__link {
    @include paddings(22px, 23px);
    outline-color: #e6e6e6;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 440px;
    justify-content: space-between;
  }

  .site-list__item {
    &--current {
      border-bottom: 2px solid $yellow-green;
    }

    &:nth-child(2) {
      margin-right: 3.5px;
    }
  }

  .site-list__link {
    @include paddings(0, 6px);
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 478px;
    justify-content: space-between;
  }

  .site-list__item {
    &--current {
      border-bottom: 2px solid $yellow-green;
    }

    &--current ~ &--main {
      border: none;
    }

    &--main {
      border-bottom: 2px solid $white;
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  .site-list__link {
    @include paddings(0, 6px);
  }

  .site-list__item--main .site-list__link {
    color: $white;
  }
}
