.slider__list {
  @include zeroing();
  list-style: none;
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .slider__list {
    position: relative;
    margin-bottom: 23px;
    width: 320px;
  }

  .slider__item {
    width: 320px;
    height: 240px;

    &--after {
      position: absolute;
      top: 0;
      display: none;
    }
  }

  .slider__toggle {
    @include paddings(0, 0, 21px, 20px);
    margin: 0 auto;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .slider {
    width: 768px;
    height: 462px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .slider__item {
    width: 768px;
    height: 462px;
    position: absolute;
    background-color: $dark-smoky-white;
    left: 0;
    top: 0;

    &--after {
      display: none;
    }
  }

  .slider__picture {
    position: absolute;
    top: -170px;
    left: 46px;
  }

  .slider__toggle {
    position: absolute;
    bottom: 65px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .slider {
    width: 760px;
  }

  .slider__item {
    width: 760px;
    height: 462px;
    position: absolute;
    background-color: $basic-gray;
    left: 0;
    top: 0;

    &--after {
      background-color: $dark-smoky-white;
      display: none;
      left: 60px;
      width: 810px;
    }
  }

  .slider__picture {
    position: absolute;
    top: -190px;
    left: 110px;

    &--after {
      top: -190px;
      left: 50px;
    }
  }

  .slider__toggle {
    position: absolute;
    bottom: 64px;
    left: 186px;
  }
}
