.social__list {
  list-style: none;

  @include zeroing();
}

.social__link {
  display: block;
  position: relative;

  &--vkontakte {
    width: 30px;
    height: 22px;
  }

  &--instagram {
    width: 23px;
    height: 23px;
  }

  &--facebook {
    width: 28px;
    height: 33px;
  }
}

.social__link svg {
  fill: $dull-gray;

  &:hover {
    fill: $yellow-green;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .social {
    width: 281px;
    display: flex;
    justify-content: center;
  }

  .social__list {
    width: 137px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social__link {
    &--vkontakte {
      width: 23px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--facebook {
      width: 22px;
      height: 22px;
    }
  }

  .social__icon-vk {
    width: 23px;
    height: 16px;
  }

  .social__icon-insta {
    width: 16px;
    height: 16px;
  }

  .social__icon-fb {
    width: 11px;
    height: 21px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    justify-content: center;
  }

  .social__list {
    width: 134px;
    display: flex;
    justify-content: space-between;
    border: none;
  }

  .social__link {
    &--instagram {
      margin-left: 6px;
    }
  }

  .social__icon-vk {
    width: 30px;
    height: 22px;
  }

  .social__icon-insta {
    width: 23px;
    height: 23px;
  }

  .social__icon-fb {
    width: 24px;
    height: 27px;
    position: relative;
    top: -2px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    width: 135px;
    display: flex;
    justify-content: space-between;
  }
}
