.social__list {
  list-style: none;

  @include zeroing();
}

.social__link {
  display: block;
  position: relative;

  &--vkontakte::after {
    @include elements(23px, 16px);
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
  }

  &--instagram::after {
    @include elements(16px, 16px);
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
  }

  &--facebook::after {
    @include elements(22px, 22px);
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
  }
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .social__list {
    width: 281px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 1px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .social__list {
    width: 129px;
    display: flex;
    justify-content: space-between;
    border: none;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .social__list {
    width: 163px;
    display: flex;
    justify-content: space-between;
  }
}
