.social__list {
  list-style: none;

  @include zeroing();
}

.social__link {
  display: block;
  position: relative;

  &--vkontakte {
    width: 23px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 22px;
    height: 22px;
  }
}

.social__link svg {
  fill: $dull-gray;

  &:hover {
    fill: $yellow-green;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

// Мобильная версия
@media (max-width: $mobile-width-only) {
  .social {
    width: 281px;
    display: flex;
    justify-content: center;
  }

  .social__list {
    width: 137px;
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .social {
    display: flex;
    justify-content: center;
  }

  .social__list {
    width: 131px;
    display: flex;
    justify-content: space-between;
    border: none;
  }

  .social__link--vkontakte svg {
    width: 30px;
    height: 22px;
  }

  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook svg {
    width: 14px;
    height: 24px;
  }
}

// Десктопная версия
@media (min-width: $desktop-width) {
  .social__list {
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
}
