
$gainsborough: #e5e5e5;
$yellow-green: #68b738;
$herbal: #5eaa2f;
$basic-gray: #f2f2f2;
$smoky-white: #ebebeb;
$dark-smoky-white: #eaeaea;
$light-telegray: #cdcdcd;
$dull-gray: #666666;
$gray-brown: #444444;
$black-brown: #222222;
$deep-pink: #ff8282;
$white: #ffffff;
$black: #000000;
$basic-font-size: 14px;
$basic-line-height: 18px;
$font-main: "Oswald", arial, sans-serif;
$font-additional: arial, sans-serif;
$tablet-width: 770px;
$desktop-width: 1440px;
$mobile-width-only: 769px;
