
$gainsborough: #E5E5E5;
$yellow-green: #68B738;
$herbal: #5EAA2F;
$basic-gray: #F2F2F2;
$smoky-white: #EBEBEB;
$light-telegray: #CDCDCD;
$dull-gray: #666666;
$gray-brown: #444444;
$black-brown: #222222;
$deep-pink: #FF8282;
$white: #FFFFFF;
$black: #000000;
$basic-font-size: 14px;
$basic-line-height: 18px;
$font-main: "Oswald", Arial, sans-serif;
$font-additional: Arial, sans-serif;
